html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
  padding: 0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
font-family: 'Barlow', sans-serif;
background-color: #f7f3ef;
font-size: 3.5vmin;
line-height: 1.2;
color: #302D7D;
cursor: url('img/cursor1.png');
}

#header {
  font-size: 5vmin;
  background: #E62A44;
  letter-spacing: 1.5px;
  color: #FAD2C8;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-sizing: border-box;
  z-index: 1;
  cursor: s-resize;
}

#header a, #header a:link, #header a:visited, #header a:active {
  text-decoration: none;
  color:#FAD2C8;
}

#header a:hover {
  letter-spacing: 2px;
}

/* Animation Grid */
.col-sm#grid {
  /* border: 1px solid; */
  padding: 0px;   /* this will make the front grid gutter-free  */
}

/* Intro div (text) */
.row#first {
  background-color: #f7f3ef;
  padding: 1.5vw 2vw 0 3vw;
}
.row#first i {
  color: #E62A44;
}

/* Artist profiles */
.row#info {
  background:  #FAD2C8;
  /* border-radius: 0px 0px 100px 0px; */
  transition: background-color 0.5s;
  /* transition: all 0.5s; /* attempt to change img  transiction*/ */
}
.row#info p { /* for long line paragraphs // !insert media query! */
  max-width: 80vw;
}

/* Slideshow collumn */
.col-sm-8 {
  padding:0; /* this keeps the slideshow at 100% width*/
}

.carousel {
/* border: 10px solid red; */
}

#carousel, #works, #caroussel img {
  background-color: #F7A813;
}
#works {
  border-radius: 0px 0px 100px;
}

#innerslide {
/* not working */
}

.circle, .circle2 {
  width: 30px;
  height: 30px;
  background-color: #3e78ed;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s;
}

img.next {  cursor: pointer;}


/* Rest of Information */
.row#stslide {
  background:  #FAD2C8;
}

.row#contact {background: #F7A813;}

li {font-weight: normal;}

li:hover {text-decoration: underline;}

h2, h1 {
  font-weight: bold;
}

h2.name {
  margin-top: 10px;
}

#dateannouncement {
  background-color: #302D7D;
  font-size: 26vmin;
  color: #FAD2C8;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

#extradates {
  background-color: #FAD2C8;
}
