body {
font-family: 'Barlow', sans-serif;
background-color: #f2edea;
font-size: 3vmin;
line-height: 1.2;
color: #302D7D;
cursor: url('img/cursor1.png');

/* transition: all 0.5s; */

}

#header {
  font-size: 5.5vmin;
  background: #fff;
  letter-spacing: 1.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer;



  box-shadow: 0px 3px 10px  rgba(50, 50, 50, 0.08);


}

#header a, #header a:link, #header a:visited, #header a:active {
  text-decoration: none;
  color: #E62A44;

  font-weight: 400;

}

#header a:hover {
  color: #302D7D;

}

/* Animation Grid */
#grid {
  /* border: 1px solid; */
  padding: 0px;   /* this will make the front grid gutter-free  */
}

/* Intro div (text) */
#intro {
  padding: 10vw 2vw 8vw 12vw;
}

#first {
  padding: 7vw 6vw 5vw 5vw;
  font-size: 3vmin;
}

#first i {
  color: #E62A44;
}

#intro p {
  font-size: 4vmin;
  font-weight: 700;
  line-height: 1;
  text-transform:uppercase;
}
#intro i.st, #first i.st {
  color: #E62A44;
  font-weight: 400;
  font-size: 8vmin;
  text-transform: uppercase;
}

#intro i.st:hover
{
  text-decoration: underline;
  cursor: pointer;
}


/* Artist profiles */
.col-sm-4#info {
  /* background:  #fff;
  border-radius: 0px 0px 100px 0px; */
  /* transition: all 0.5s; /* attempt to change img  transiction*/ */
}
.col-sm-4#info, .col#interview, .col-sm-4#works {
  padding: 1.5em;
}

#biocol {
  /* background:  #fff;
  border-radius: 0px 0px 100px 0px; */
}

#works {
  border-radius: 0px 0px 100px;
}

/* Slideshow collumn */
.col-sm-8 {
  padding:0; /* this keeps the slideshow at 100% width*/
}

.carousel {
/* border: 10px solid red; */
}

#carousel, #works, #caroussel img {
  background-color: #fff;
}



#innerslide {
/* not working */
}

.circle, .circle2 {
  width: 30px;
  height: 30px;
  background-color: #3e78ed;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s;
}

img.next {  cursor: pointer;}


/* Rest of Information */
.row#stslide {
  background:  #FAD2C8;
}

li {font-weight: normal; margin-bottom: 15px; color: #F7A813; font-size: 3.5vmin;}

li b {
  display: block;
}

li:hover {text-decoration: underline; cursor: pointer;}


h2, h1 {
  font-weight: bold;
}

h2.name {
  font-size: 3.5vmin;
  margin-bottom: 12px;
  color: #E62A44;

}

p.bio {
  font-size: 2.5vmin;

}
p.bio b, p.bio i {
  display: block;
}

#date, #location {
  font-size: 25vmin;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;


  display: flex;
  align-items: center;
  justify-content: center;

  word-wrap: break-word;


}

#date {
  background-color: #302D7D;
  color: #FAD2C8;
}

#location {
  color: #E62A44;
}

.row#footer {
  background: #Fff;
  color: #F7A813;

  position:fixed;
  bottom: 0px;
  left: 0;
  right: 0;

  margin: auto;
  padding-bottom: 3px;
  max-height: 5vh;

  box-shadow: 0px -5px 10px rgba(50, 50, 50, 0.08);

  clear:both;

  /* FOOTER DOES NOW SHOW UP IN RESPONSIVE MODE  */
}

.row#footer ul li {
  display: inline;
  padding-right: 25px;

  font-size: 11.5pt;
  font-weight: 600;
  font-style: italic;
  color: #302D7D;
}

.row#footer ul li a:link, .row#footer ul li a:active, .row#footer ul li a {
  color: #302D7D;
  text-decoration: underline;
}

.row#footer ul li a:hover {
  color: #E62A44;
}

.row#last {
height: 4vh;
}

#play {
  width: 60vw;
}
