body {
font-family: 'Barlow', sans-serif;
background-color: #f2edea;
font-size: 3vmin;
line-height: 1.2;
color: #302D7D;
cursor: url('img/cursor1.png');
/* transition: all 0.5s; */
}
::selection {background: #FAD2C8;}
::-moz-selection {background: #FAD2C8;}

/* Fixed layout items  */
#header, #header1 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  background: #fff;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0px 3px 10px  rgba(50, 50, 50, 0.08);


  font-size: 5.5vmin;
  text-transform: uppercase;
  letter-spacing: 0px;
}


#header a, #header a:link, #header a:visited, #header a:active, #header1 a, #header2 a:link, #header2 a:visited, #header2 a:active {
  text-decoration: none;
  color: #E62A44;
  font-weight: 400;
}

#header a:hover, #header1 a:hover {
  color: #302D7D;
}

img#burguer, img#arrow {
  float:right;
  /* border: 1px solid black; */
  /* vertical-align:top; */
  height: 5.5vmin;
/*
  flex-direction: column;
  justify-content: center; */
  padding-top: 12px;
}


.row#footer {
  background: #Fff;
  color: #F7A813;

  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  /* padding-bottom: 4px; */
  /* height: 6vh; */
  /* padding: 0vh 20vh 0vh 0vh; */

  box-shadow: 0px -5px 10px rgba(50, 50, 50, 0.08);

  clear:both;

    padding-bottom: 8px;

}

.row#footer ul li {
  display: inline;
  padding-right: 25px;


  font-size: 1.5vw;
  font-weight: 600;
  font-style: italic;
  color: #302D7D;

}

.row#footer ul li a:link, .row#footer ul li a:active, .row#footer ul li a {
  color: #302D7D;
  text-decoration: underline;
}

.row#footer ul li a:hover {
  color: #E62A44;
}



/* Animation Grid */
#grid {
  /* border: 1px solid; */
  padding: 0px;   /* this will make the front grid gutter-free  */
}

/* Index Intro */
#intro {
  padding: 3vw 2vw 6vw 1.5vw;
}

#introlinks {
  padding: 0vw 0vw 0vw 1.5vw;
  line-height: 1.1;
}

#introlinks a, #introlinks a:link, #introlinks a:active {
  color:#302D7D;
  /* margin-top: 2em; */
}

#introlinks a:hover {
  text-decoration: underline;
  text-decoration-color: #FAD2C8;
}


#prev, #next {
  font-weight: bold;
  color: #E62A44;
  cursor: pointer;
}

#prev:hover, #next:hover {
  text-decoration: underline;
  text-decoration-color: #FAD2C8;
  color:#302D7D;
}

#prev img, #next img {
  height: 5vmin;
  vertical-align:middle;
  margin: 0 8px 0 0.6em;
  /* margin-bottom: -5px; */
}

/* About Intro */
#first {
  padding: 3vw 6vw 0vw 1.5vw;
  /* border: 1px solid blue; check */
}


#intro p {
  font-size: 4vmin;
  font-weight: 700;
  line-height: 1;
  text-transform:uppercase;


}
#intro i.st, #first i.st {
  color: #E62A44;
  font-weight: 400;
  font-size: 8vmin;
  text-transform: uppercase;
}

#intro i.st:hover
{
  text-decoration: underline;
  cursor: pointer;
}


/* Artist profiles */
#werken {
  border-radius: 0px 0px 100px;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

h2.name {
  font-size: 3.5vmin;
  margin-bottom: 0.2em;
  color: #E62A44;
  margin-block-start: 0.1em;
}

/* werken Websites */
p.bio a, p.bio a:link, p.bio a:active {
  color:#302D7D;
}
p.bio a:hover {
  text-decoration: underline;
  text-decoration-color: #FAD2C8;
}
.col-lg-4#info {
  /* border: 1px solid black; check */
}
.col-lg-4#info, .col#interview, .col-lg-4#werken {
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  /* border: 1px solid black; check */

}



 /* check */

#werken ul li {
font-size: 4vmin;
line-height: 1;
justify-content: space-around;
font-weight: normal;
margin-bottom: 40px;
/* border: 1px solid red;  check */
}
#werken ul li b {
  display: block;
}
#werken ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: #302D7D;
}

.selected, .selected:active {
  color:blue; !important
  text-decoration: underline; !important
  text-decoration-color: #F7A813; !important
}

.selected ul li:hover {
  text-decoration: underline; !important
  text-decoration-color: #F7A813; !important
}

.deselected {
  text-decoration: none; !important
  color: green; !important
}

/* Slideshow collumn */
.col-lg-8 {
  padding:0; /* this keeps the slideshow at 100% width*/
}

.carousel {
/* border: 10px solid red; */
}

.carousel-control-prev-icon {
 background-image: url("img/prev.svg") !important;
 display: inline-block;
 width: 35px;
 height: 35px;
 background: no-repeat 100%/100% 100%;
}

.carousel-control-next-icon {
background-image: url("img/next.svg") !important;
display: inline-block;
width: 35px;
height: 35px;
background: no-repeat 100%/100% 100%;
}

#carousel, #werken, #caroussel img {
  background-color: #fff;
}

#innerslide {
/* not working */
}


/* Rest of Information */
.row#stslide {
  background:  #FAD2C8;
}


h2, h1 {
  font-weight: bold;
}


 /* Extra rows  */
 div#date.row div.col, div#location.row div.col {
   justify-content: center;
   text-align-last: center;

   /* For Safari, the old Flexbox specification*/
   display: -webkit-box;
   -webkit-box-pack: center; /* justify-content */
   -webkit-box-align: center; /* align-items */


   padding: 1.5vw 0 1.5vw 0;
   margin-top: -1.7vw;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: -2px;
 }

 #date {
   background-color: #302D7D;
   color: #FAD2C8;
   font-size: 15.6vw;
   line-height: 12.5vw;
 }

 #location {
   color: #E62A44;
   font-size: 18vw;
   line-height: 14.2vw;
 }

/* Logos and built by */
.row#last {
background: #FAD2C8;
padding-top: 0;
height: 13vh;

}

.row#last img {
  max-height: 7vh;
  margin-right: 15px;
  /* margin-right: 10px; */
}
.row#last a, .row#last a:link,.row#last a:active {
  color: #E62A44;
  font-style: italic;
}
.row#last a:hover {
  color: #F7A813;
  text-decoration: none;
}

span.builtby {
  font-size: 2.3vmin;
  float: right;
/* border: 1px solid black; */
padding: 1.5vh;
padding-top: 2.5vh;

}

@media only screen and (max-width: 860px) {

/* index text */
#intro p {
  font-size: 5.5vmin;
}

/* general text  */
 #first, body, p {
  font-size: 4vmin;
}

.col-lg-4#info, .col#interview, .col-lg-4#werken, #first, #intro {
    padding: 0.6em;
}

.col#pad {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

/* disappearing animations */
#afterbio, #disappear1, #disappear2, #disappear3 {
  display: none;
}


/* layout elements */
#header, #header1 {
  font-size: 10vmin;
}
.row#footer ul li {
    font-size: 3.2vmin;
}

img#burguer, img#arrow {
  float:right;
  padding-top: 11px;
  height: 10vmin;
}


/* size and color corrections */
.row#last img {
  max-height: 3.5vh;
}
.row#last {
  max-height: 8.5vh;
}

span.builtby {
padding-top: 1.5vh;
}

.col#interview {
  background: #fff;
}


/* menu 2X2 */
#werken {
  border-radius: 0px 0px 70px;
}

/* #werken ul li, #werken ul li b{
  display: inline;
} */
#werken ul li {
  /* border: 1px solid black; */
  position: relative;
  /* margin-right: 30px; */
  margin-bottom: 15px;
}


li#item1, li#item3 {
  float: left;
  padding-left: 0;
  width: 45%;
}

li#item2, li#item4 {
  float: left;
  margin-left: 0px;
  width: 55%;
}

img#arrow {
display: none
}


}
